@model IEnumerable<JETech.SIC.Web.Models.Client.ClientViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Clientes</h3>
<div>
    <div class="header-form">
        <div class="row justify-content-end">

            @(Html.DevExtreme().Button()
                .Icon("plus")
                .Text("Nuevo")
                .Type(ButtonType.Normal)
                .OnClick(@<text>
                            function(){ window.location = "@Url.Action("Create", "Client")"; }
                        </text>)
            )
            @{/*
                <p>
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </p>
              */
            }


        </div>
    </div>    

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.CellPhome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>            
                    <td>
                        @Html.DisplayFor(modelItem => item.CellPhome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

