@model IEnumerable<JETech.SIC.Web.Models.Client.ClientViewModel>

@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                @*<h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>*@
                <h5 class="title-form">@(ViewData["Title"])</h5>
                <div class="header-form">
                    <div class="row justify-content-end">
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Text("New")
                            .Icon("plus")
                            .Type(ButtonType.Default)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "ClientMant")"; }
                                     </text>)
                            )
                        </div>
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Text("Refresh")
                            .Icon("refresh")
                            .Type(ButtonType.Normal)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "ClientMant")"; }
                                     </text>)
                            )
                        </div>
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Text("Print")
                            .Icon("print")
                            .Type(ButtonType.Normal)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "ClientMant")"; }
                                     </text>)
                            )
                        </div>
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Icon("more")
                            .Type(ButtonType.Normal)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "Client")"; }
                                     </text>)
                            )
                        </div>
                        <div class="header-form-item">
                                @(Html.DevExtreme().Menu()
                                .ID("menu")
                                .DataSource(d => d.Mvc().LoadAction("GetActions"))
                                .HideSubmenuOnMouseLeave(false)
                                .OnItemClick("onActionClick")  
                                .CssClass("jet-menu-button")
                                )
                                <div id="product-details" class="hidden">
                                    <div class="text"></div>
                                </div>
                            </div>



                        @{/*
                                                            <p>
                                                                <a asp-action="Create" class="btn btn-primary">Create New</a>
                                                            </p>
                                                          */
                        }


                    </div>
                </div>
            </div>

            <div>


                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CellPhome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StatusName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CellPhome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



<script>
    function getMenuInstance() {
        console.log("intancing menu");
        return $("#menu").dxMenu("instance");
    }
    function onActionClick(data) {
        var item = data.itemData;

        if (item.Name) {
            $("#product-details").removeClass("hidden");
            $("#product-details > .text").text(item.Name);
        }
    }
</script>