@model IEnumerable<JETech.SIC.Web.Models.Client.ClientViewModel>
@using JETech.SIC.Web.Models.Client;
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                @*<h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>*@
                <h5 class="title-form">@(ViewData["Title"])</h5>
                <div class="header-form">
                    <div class="row justify-content-end">
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Text("New")
                            .Icon("plus")
                            .Type(ButtonType.Default)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "ClientMant")"; }
                                     </text>)
                            )
                        </div>
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Text("Refresh")
                            .Icon("refresh")
                            .Type(ButtonType.Normal)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "ClientMant")"; }
                                     </text>)
                            )
                        </div>
                        <div class="header-form-item">
                            @(Html.DevExtreme().Button()
                            .Text("Print")
                            .Icon("print")
                            .Type(ButtonType.Normal)
                            .OnClick(@<text>
                                        function(){ window.location = "@Url.Action("Create", "ClientMant")"; }
                                     </text>)
                            )
                        </div>
                        @*<div class="header-form-item">
                                @(Html.DevExtreme().Button()
                                .Icon("more")
                                .Type(ButtonType.Normal)
                                .OnClick(@<text>
                                            function(){ window.location = "@Url.Action("Create", "Client")"; }
                                         </text>)
                                )
                            </div>*@
                        <div class="header-form-item">
                            @(Html.DevExtreme().Menu()
                                .ID("menu")
                                .DataSource(d => d.Mvc().LoadAction("GetActions"))
                                .HideSubmenuOnMouseLeave(false)
                                .OnItemClick("onActionClick")
                                .CssClass("jet-menu-button")
                                )
                            <div id="product-details" class="hidden">
                                <div class="text"></div>
                            </div>
                        </div>



                        @{/*
                                                              <p>
                                                                  <a asp-action="Create" class="btn btn-primary">Create New</a>
                                                              </p>
                                                            */
                        }


                    </div>
                </div>
            </div>

            <div>
                @(Html.DevExtreme().DataGrid<ClientViewModel>()
                    .ID("gridClients")
                    .ShowBorders(true)
                    .FilterRow(filter => filter
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                        .ShowOperationChooser(true))
                    .DataSource( new JS("store"))
                    //.DataSource(d => d.StaticJson().Url("~/api/ClientMant/").Key("Id"))
                    .FocusedRowEnabled(true)
                    .Paging(paging => paging.PageSize(10))
                    .Pager(pager =>
                    {                     
                        pager.ShowInfo(true);
                    })
                    .Columns(columns => {
                        columns.AddFor(c => c.Id);
                        columns.AddFor(c => c.FirstName);
                        columns.AddFor(c => c.LastName);
                        columns.AddFor(c => c.CellPhome);
                        columns.AddFor(c => c.StatusName);
                    })
                )
            </div>
        </div>
    </div>
</div>
<script>
    function getMenuInstance() {
        console.log("intancing menu");
        return $("#menu").dxMenu("instance");
    };

    function onActionClick(data) {
        var item = data.itemData;

        if (item.Name) {
            $("#product-details").removeClass("hidden");
            $("#product-details > .text").text(item.Name);
        }
    };

    function isNotEmpty(value) {
        return value !== undefined && value !== null && value !== "";
    }

    var store = new DevExpress.data.CustomStore({
        key: "Id",
        load: function (loadOptions) {
            var deferred = $.Deferred(),
                args = {};

            [
                "skip",
                "take",
                "requireTotalCount",
                "requireGroupCount",
                "sort",
                "filter",
                "totalSummary",
                "group",
                "groupSummary"
            ].forEach(function (i) {
                if (i in loadOptions && isNotEmpty(loadOptions[i]))
                    args[i] = JSON.stringify(loadOptions[i]);
            });
            $.ajax({
                url: "http://localhost:59869/api/ClientMant",
                dataType: "json",
                data: args,
                success: function (result) {
                    deferred.resolve(result);
                    /*deferred.resolve(result.data, {
                        totalCount: result.totalCount,
                        summary: result.summary,
                        groupCount: result.groupCount
                    }*/
                },
                error: function () {
                    deferred.reject("Data Loading Errorrr");
                },
                timeout: 5000
            });

            return deferred.promise();
        }
    });
</script>